<div id="top-container" class="container fluid">
        <h1 id="main-title" class="text-center">Finder you job</h1>
        <p id="main-subtitle" class="text-center">This site has the purpose of helping people find their dream job</p>
        <form id="search-form" class="form-inline" action="">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" id="job" name="job" placeholder="look for your vacancy">
                <input type="submit" value="Search" class="search">       
            </div>
        </form>
    </div>

<main>
        <div id="jobs-container" class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="job-list-title">See ours vacancies on emphasis</h2>
                    <ul id="job-list" class="list-group">
                        <li class="list-group-item new-job">
                            <p>Company</p>
                            <h2>Title Vacancy </h2>
                            <p>$16.334</p>
                            <span class="new-job-label">New</span>
                            <a class="btn btn-primary">More details about this job</a>
                        </li>
                        <li class="list-group-item">
                            <p>Company</p>
                            <h2>Title Vacancy </h2>
                            <p>$16.334</p>
                            <a class="btn btn-primary">More details about this job</a>
                        </li>
                        <li class="list-group-item">
                            <p>Company</p>
                            <h2>Title Vacancy </h2>
                            <p>$16.334</p>
                            <a class="btn btn-primary">More details about this job</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</main>