* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* nav: */
.navbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn {
    color: #fff;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover {
    background-color: #fff;
    color: #f03e3e;
    border-color: #f03e3e;
}

/* banner: */
#top-container {
    padding: 110px;
    background-color: #f7f9fc;
    border-bottom: 4px solid #013068;
    margin-bottom: 30px;
    /* add imagem */
    background-position: 0 100px;
    background-size: cover;
    color: #fff;
}